#overlay{
    display: none;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;

    .background{
        background-color: white;
        height: 100%;
        width: 100%;

        .overlay-wrapper{
            display: flex;
            height: 80px;
            width: 100%;

            .button-wrapper{
                height: 100vh;
                width: 60px;
                margin-right: 20px;

                button{
                    margin-top: 50px;
                    width: 60px;
                    height: 60px;
                    align-self: center;
                    cursor: pointer;
                }
            }

            .project-wrapper{
                height: 100vh;
                width: 100%;

                #project-name {
                    margin-top: 50px;
                    font-size: 65px;
                    align-self: center;
                }

                #project-date {
                    margin-top: 20px;
                }

                #project-description {
                    margin-top: 50px;
                }

                #project-images {
                    display: flex;
                    
                    img{
                        max-width: auto;
                        height: 300px;
                        margin-right: 20px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}